::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
    text-align: center;
}

body {
    /* background-or: #D58936; */
    background-image: linear-gradient(to top right, #D58936, #69140E);
    font-family: 'Montserrat', sans-serif
}

.card {
    border: none;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

.btn-primary {
    background-color: #b9772f;
    color: whitesmoke;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    border: none;
    padding: 10px;
}


.btn-primary:hover {
    background-color: #da8b37;
}

.btn-primary {
    font-size: 13px !important;
    color: whitesmoke
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }